*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url("../IMG/lbg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Dropdown */
.dropbtn {
    width: 10px;
    background: none;
    color: #f0f4ff;
    padding-right: 50%;
    font-size: 20px;
    font-family: 'Exo' , serif;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover{
    color: #fff;
}
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    padding: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 17px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    color: #000000;
  }
  
  @media (max-width: 745px) {
    .dropbtn{
      display: block;
    }
    .dropdown-content{
      display: none;
      position: absolute;
      background: none;
      border: none;
      box-shadow: none;
      margin-top: 5px;
    }
    .dropdown-content a{
      margin-left: 50%;
      width: 100%;
    }
    .dropdown-content:hover{
      background: none;
      border: none;
      box-shadow: none;
    }
  }
/* nav */
.wrapper{
    width: 60%;
    margin: 0;
}
.menu{
    float: right;
    list-style: none;
    margin-top: 20px;
    margin-right: 50px;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #0b2561;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Exo' , serif;
    font-size: 15px;
}
.menu li a:hover{
    background: #a8c8ff;
    color: #fff;
    border-radius: 5px;
}
.text{
    position: absolute;
    text-align: center;
    width: 95%;
    height: 300px;
    margin: 17% 3%;
}
.text h1{
    font-family: 'Bebas Neue' , serif;
    font-size: 100px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    margin-bottom: 20px;
    color: #834411;
}
.text p{
    text-align: center;
    font-family: 'Exo' , serif;
    font-size: 20px;
    font-weight: bold;
    color: #06164d;
}

@media (max-width: 700px) {
    .menu{
        float: none;
        margin: 0;
        text-align: center;
        margin-top: 20px;
    }
    .menu li a{
        padding: 5px;
        font-size: 11px;
    }
    .text{
        width: 60%;
        height: 100%;
        margin: 25% 0;
        text-align: center;
        margin-left: 15px;
    }
    .text h1{
        font-size: 50px;
    }
    .text p{
        font-size: 13px;
    }
    .b3{
        margin-top: 10%;
        width: 40%;
    }
}


/* footer */
.container{
  background-color: #c0e6ff;
  padding: 50px 0;
  height: 100%;
}
p{
  text-align: center;
}